flake8
sphinx
psycopg2
boto3
tornado
requests
-e git+https://github.com/Riffstation/sqlalchemypostgresutils.git@dev#egg=sqlalchemypostgresutils
-e git+https://github.com/Riffstation/flaskutils.git@dev#egg=flaskutils
